.md{
    .mail-list{
        width: 1140px;
        margin: 0 auto;
        @include absolute($top:300px, $bottom:0, $left:50%);
        overflow: auto;
        margin-left: -570px;

        .mail {
            display: table;
            table-layout: fixed;
            width: 100%;
            border-top:1px solid #C7C3C3;
            color:$mailColor;

            .row {
                display: table-row;
                line-height: 40px;
                font-size: 14px;

                .select-column {
                    display: table-cell;
                    width: 54px;
                    text-align: left;
                    position: relative;

                    .chkbox-select {
                        position: relative;

                        &:after {
                            @include main-sprite($top: 25px, $width: 20px, $height: 20px, $padding: 0 14px 0 0, $image-pos: -54px -119px);
                        }

                        &.checked:after {
                            @include main-sprite($top: 25px, $width: 20px, $height: 20px, $padding: 0 14px 0 0, $image-pos: -54px -139px);
                        }
                    }
                }

                .content {
                    display: table-cell;

                    .ellipsis{
                        text-overflow: ellipsis;
                        overflow: hidden;
                        word-wrap: break-word;
                        white-space: nowrap;
                        line-height:24px;
                    }

                    .space{
                        padding-bottom: 6px;
                    }

                    .bold{
                        font-weight: bold;
                    }
                }

                .info{
                    display: table-cell;
                    width: 70px;
                    text-align: right;

                    .star{
                        position:relative;

                        &:after{
                            @include main-sprite($right:0, $width:24px, $height:24px,$image-pos:-22px -169px);
                        }
                    }

                    .no-star{
                        position:relative;

                        &:after{
                            @include main-sprite($right:0, $width:24px, $height:24px,$image-pos:0px -169px);
                        }
                    }
                }
            }
       }

    }

    &.mail-viewer-mode .mail-list{
        display: none;
    }
}

/*==============================================================*/

@media screen and (max-device-width: 800px), screen and (max-width: 800px) {

    .md{
        .mail-list {
            width: 100%;
            position: absolute;
            top: 120px;
            left: 0;
            margin-left: 0;

            .mail{
                .row {
                    line-height: 36px;
                    font-size:13px;


                    .select-column {
                        width: 45px;

                        .chkbox-select {

                            &:after {
                                @include main-sprite($top: 25px, $left:10px, $width: 20px, $height: 20px, $padding: 0 14px 0 0, $image-pos: -54px -119px);
                            }

                            &.checked:after {
                                @include main-sprite($top: 25px, $width: 20px, $height: 20px, $padding: 0 14px 0 0, $image-pos: -54px -139px);
                            }
                        }
                    }
                    .info {
                        padding-right: 10px;
                    }
                    .content {
                        .ellipsis {
                            line-height: 21px;
                        }
                    }
                }

            }
        }

    }
}

/*==============================================================*/

@media screen and (min-device-width: 801px) and (max-device-width: 1200px), screen and (min-width: 801px) and (max-width: 1200px){

    .md {
        .mail-list {
            width: 700px;
            margin-left: -350px;
        }
    }
}

