<div class="actions">
    <div class="title">Inbox(84)</div>
    <div class="chkbox-select" type="checkbox" role="checkbox" value="false"  data-md="select-all"></div>
    <div class="select-actions">
        <div class="item-total">51</div>
        <div class="item btn-delete"> <i class="icon-delete"></i><span class="icon-text">Delete</span> </div>
        <div class="item btn-move">
            <i class="icon-move"></i>
            <span class="icon-text">Move</span>
            <div class="btn-anchor">
                <div class="folder-list">
                </div>
            </div>
        </div>
        <div class="item btn-back"> <i class="icon-back"></i><span class="icon-text">Back</span></div>
    </div>
    <div class="btn-compose"> <i class="icon-compose"></i><span class="icon-text">COMPOSE</span></div>
</div>