<div class="mail-viewer browser-scroll">
   <div class="mail-viewer__header">
         <div class="sender">M</div>
         <div class="mail-details-wrapper">
             <div class="mail-details">
                 <div class="participants">
                     <div class="from">Moran</div>
                     <div class="to ellipsis">to: Shaul, Ruth, Hila, Ariel, Assaf, Alon, Yaron, Shaul, Ruth, Hila, Ariel, Assaf, Alon, Yaron, Assaf, Alon, Yaron, Shaul, Ruth, Hila, Ariel, Assaf, Alon, Yaron</div>
                 </div>
                 <div class="send-time">10-10-96</div>
             </div>
         </div>
   </div>
   <div class="mail-viewer__content">
         <div class="boxes">
             <div class="box">A</div>
             <div class="box">B</div>
             <div class="box">C</div>
             <div class="box">D</div>
         </div>
    </div>

</div>