<div class="compose-area">
    <div class="compose-view">
        <div class="row">
            <div class="compose-view__header">
                <div class="compose-view-send"></div>
                <div class="compose-view-close"></div>
            </div>
        </div>
        <div class="row"><input class="fromField" placeholder="From"></div>
        <div class="row"><input class="toField" placeholder="To"></div>
        <div class="row"><input class="subject" placeholder="Subject"></div>
        <div class="row flexible"><textarea class="content"></textarea></div>
    </div>
</div>