<div class="mail-list browser-scroll">
    <div class="mail">
        <div class="row">
            <div class="select-column"><div class="chkbox-select" type="checkbox" role="checkbox" value="false"></div></div>
            <div class="content">
                <div class="ellipsis bold">Title, this is a title.</div>
                <div class="ellipsis">Firstl line, this is short </div>
                <div class="ellipsis space">Second line, this is long line and needs to show eclipise</div>
            </div>
            <div class="info">
                <div class="time">12:30</div>
                <div class="no-star"></div>
            </div>
        </div>
    </div>
    <div class="mail">
        <div class="row">
            <div class="select-column"><div class="chkbox-select" type="checkbox" role="checkbox" value="false"></div></div>
            <div class="content">
                <div class="ellipsis bold">Title, this is a title.</div>
                <div class="ellipsis">Firstl line, this is short </div>
                <div class="ellipsis space">Second line, this is long line and needs to show eclipise</div>
            </div>
            <div class="info">
                <div class="time">12:30</div>
                <div class="star"></div>
            </div>
        </div>
    </div>
    <div class="mail">
        <div class="row">
            <div class="select-column"><div class="chkbox-select" type="checkbox" role="checkbox" value="false"></div></div>
            <div class="content">
                <div class="ellipsis bold">Title, this is a title.</div>
                <div class="ellipsis">Firstl line, this is short </div>
                <div class="ellipsis space">Second line, this is long line and needs to show eclipise</div>
            </div>
            <div class="info">
                <div class="time">12:30</div>
                <div class="star"></div>
            </div>
        </div>
    </div>
    <div class="mail">
        <div class="row">
            <div class="select-column"><div class="chkbox-select" type="checkbox" role="checkbox" value="false"></div></div>
            <div class="content">
                <div class="ellipsis bold">Title, this is a title.</div>
                <div class="ellipsis">Firstl line, this is short </div>
                <div class="ellipsis space">Second line, this is long line and needs to show eclipise</div>
            </div>
            <div class="info">
                <div class="time">12:30</div>
                <div class="star"></div>
            </div>
        </div>
    </div>
    <div class="mail">
        <div class="row">
            <div class="select-column"><div class="chkbox-select" type="checkbox" role="checkbox" value="false"></div></div>
            <div class="content">
                <div class="ellipsis bold">Title, this is a title.</div>
                <div class="ellipsis">Firstl line, this is short </div>
                <div class="ellipsis space">Second line, this is long line and needs to show eclipise</div>
            </div>
            <div class="info">
                <div class="time">12:30</div>
                <div class="star"></div>
            </div>
        </div>
    </div>
    <div class="mail">
        <div class="row">
            <div class="select-column"><div class="chkbox-select" type="checkbox" role="checkbox" value="false"></div></div>
            <div class="content">
                <div class="ellipsis bold">Title, this is a title.</div>
                <div class="ellipsis">Firstl line, this is short </div>
                <div class="ellipsis space">Second line, this is long line and needs to show eclipise</div>
            </div>
            <div class="info">
                <div class="time">12:30</div>
                <div class="star"></div>
            </div>
        </div>
    </div>
    <div class="mail">
        <div class="row">
            <div class="select-column"><div class="chkbox-select" type="checkbox" role="checkbox" value="false"></div></div>
            <div class="content">
                <div class="ellipsis bold">Title, this is a title.</div>
                <div class="ellipsis">Firstl line, this is short </div>
                <div class="ellipsis space">Second line, this is long line and needs to show eclipise</div>
            </div>
            <div class="info">
                <div class="time">12:30</div>
                <div class="star"></div>
            </div>
        </div>
    </div>
    <div class="mail">
        <div class="row">
            <div class="select-column"><div class="chkbox-select" type="checkbox" role="checkbox" value="false"></div></div>
            <div class="content">
                <div class="ellipsis bold">Title, this is a title.</div>
                <div class="ellipsis">Firstl line, this is short </div>
                <div class="ellipsis space">Second line, this is long line and needs to show eclipise</div>
            </div>
            <div class="info">
                <div class="time">12:30</div>
                <div class="star"></div>
            </div>
        </div>
    </div>
    <div class="mail">
        <div class="row">
            <div class="select-column"><div class="chkbox-select" type="checkbox" role="checkbox" value="false"></div></div>
            <div class="content">
                <div class="ellipsis bold">Title, this is a title.</div>
                <div class="ellipsis">Firstl line, this is short </div>
                <div class="ellipsis space">Second line, this is long line and needs to show eclipise</div>
            </div>
            <div class="info">
                <div class="time">12:30</div>
                <div class="star"></div>
            </div>
        </div>
    </div>
    <div class="mail">
        <div class="row">
            <div class="select-column"><div class="chkbox-select" type="checkbox" role="checkbox" value="false"></div></div>
            <div class="content">
                <div class="ellipsis bold">Title, this is a title.</div>
                <div class="ellipsis">Firstl line, this is short </div>
                <div class="ellipsis space">Second line, this is long line and needs to show eclipise</div>
            </div>
            <div class="info">
                <div class="time">12:30</div>
                <div class="star"></div>
            </div>
        </div>
    </div>
    <div class="mail">
        <div class="row">
            <div class="select-column"><div class="chkbox-select" type="checkbox" role="checkbox" value="false"></div></div>
            <div class="content">
                <div class="ellipsis bold">Title, this is a title.</div>
                <div class="ellipsis">Firstl line, this is short </div>
                <div class="ellipsis space">Second line, this is long line and needs to show eclipise</div>
            </div>
            <div class="info">
                <div class="time">12:30</div>
                <div class="star"></div>
            </div>
        </div>
    </div>
    <div class="mail">
        <div class="row">
            <div class="select-column"><div class="chkbox-select" type="checkbox" role="checkbox" value="false"></div></div>
            <div class="content">
                <div class="ellipsis bold">Title, this is a title.</div>
                <div class="ellipsis">Firstl line, this is short </div>
                <div class="ellipsis space">Second line, this is long line and needs to show eclipise</div>
            </div>
            <div class="info">
                <div class="time">12:30</div>
                <div class="star"></div>
            </div>
        </div>
    </div>
</div>