<div class="toolbar">
    <nav class="menu menuPosition">
        <ul class="left-box">
            <li class="item checked">Inbox</li>
            <li class="item">Sent</li>
            <li class="item">Draft</li>
            <li class="item">Spam</li>
            <li class="item">Trash</li>
        </ul>
        <ul class="right-box">
            <li class="item btn-settings"></li>
            <li class="item btn-info"></li>
        </ul>
    </nav>
    <div class="btn-find"></div>
    <div class="btn-show-menu"></div>
</div>