.browser-scroll {

    &::-webkit-scrollbar {
        width: 0
    }

    &.light::-webkit-scrollbar {
        width: 0
    }

    &.scroll-fixed::-webkit-scrollbar {
        width: 0;
    }

    &.scroll-fixed::-webkit-scrollbar-track, &.scroll-fixed::-webkit-scrollbar-thumb {
        width: 0;
    }
}
