.md {

    .dialog{

        .modal-layer{
            display:none;
            opacity: 0.7;
            background-color: gray;
            z-index: 100;
            width: 100%;
            height: 100%;
            position:absolute;
            top:0;
            bottom:0;
            right:0;
            left:0;
        }

        .dialog-container {

            position: absolute;
            left: auto;
            top: auto;
            transform: none;
            z-index: 31;
            border: 1px solid #ccc;
            border-color: rgba(0, 0, 0, .2);
            -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, .2);
            box-shadow: 0 2px 10px rgba(0, 0, 0, .2);

            /* ---------------- cssarrowplease taken from: /!*http://www.cssarrowplease.com -------------*/

            &:after, &:before {
                bottom: 100%;
                left: 50px;
                border: solid transparent;
                content: " ";
                height: 0;
                width: 0;
                position: absolute;
                pointer-events: none;
            }

            &:after {
                border-color: rgba(255, 255, 255, 0);
                border-bottom-color: #fff;
                border-width: 14px;
                margin-left: -14px;
            }
            &:before {
                border-color: rgba(179, 179, 179, 0);
                border-bottom-color: #b3b3b3;
                border-width: 15px;
                margin-left: -15px;
            }

            /* -------  end cssarrowplease -------*/

            .dialog-header{
                display:none;
                width:100%;
                height:30px;
                text-align:center;
                padding-top:5px;
                background-color:gray;
                color:white;

                .cancel {
                    float: right;
                    position: relative;

                    &:after {
                        content: "";
                        position: absolute;
                        top: -6px;
                        right: 15px;
                        width: 20px;
                        height: 27px;
                        background: url("/maildo-responsive-ui/responsive/images/sprite.png") no-repeat -20px -70px;
                    }
                }

                .title {
                    font-size: 18px;
                }
            }

            .dialog-inner-container{
                background-color: white;
            }
        }

        &.modal-mode{

            .dialog-header{
                display:block;
            }
            .modal-layer{
                display:block;
            }
            .dialog-container {
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                z-index:120;

                &:after, &:before{
                    display:none;
                }
            }
        }

        &.show{
            display:block;
        }
    }
}


/*==============================================================*/

@media screen and (max-device-width: 800px), screen and (max-width: 800px) {

    .md {

        .dialog {

            .dialog-container {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: white;

                .dialog-header {
                    display: block;
                }
            }

            &.modal-mode{

                .dialog-header {
                    display: block;
                }

                .modal-layer {
                    display: none;
                }

                .dialog-container {
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background-color: white;
                    transform: none;
                }
            }
        }
    }
}