.md {

    .dialog .infobox-wrapper {
        top: 85px;
        right: 20px;
    }

    .dialog .infobox-wrapper:after, .dialog .infobox-wrapper:before {
        left:246px;
    }

    .infobox{

        .profile-panel{
            display: table;
            width: 300px;
            table-layout: fixed;
            border-bottom:1px solid #a6a6a6;

            .profile-image{
                width: 116px;
                height: 111px;
                background: url("/maildo-responsive-ui/responsive/images/sprite.png") no-repeat -162px -27px;
                display: table-cell;
            }

            .profile-titles{
                display:table-cell;
                vertical-align: middle;

                .profile-main-title{
                    line-height:20px;
                    font-size:15px;
                }

                .profile-sub-title{
                    line-height:20px;
                    font-size:13px;
                }
            }
        }

        .resources-link{
            padding: 14px 14px 14px 20px;
            &:before{
                content: "+";
                font-size: 1.5em;
                line-height: 0.5em;
                float: left;
                margin-right:12px;
                margin-top:3px;
            }
        }
    }
}

/*==============================================================*/

@media screen and (max-device-width: 800px), screen and (max-width: 800px) {

    .md {
        .dialog .infobox-wrapper {
            top: 0;
            right: 0;
        }

        .infobox .profile-panel{
            width:100%;
        }
    }
}


