
//----------------------------------------------
//  positions
//----------------------------------------------


@mixin position($position, $top: null, $right: null, $bottom: null, $left: null) {
  position: $position;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

//----------------------------------------------

@mixin absolute($top: null, $right: null, $bottom: null, $left: null) {
  @include position(absolute, $top, $right, $bottom, $left);
}

//----------------------------------------------

@mixin relative($top: null, $right: null, $bottom: null, $left: null) {
  @include position(relative, $top, $right, $bottom, $left);
}

//----------------------------------------------

@mixin fixed($top: null, $right: null, $bottom: null, $left: null) {
  @include position(fixed, $top, $right, $bottom, $left);
}



//----------------------------------------------
// sprite
//----------------------------------------------


@mixin sprite($image-url, $top:null, $left:null, $right:null, $width:null, $height:null, $padding:null, $image-pos:null){

  content: "";
  position: absolute;
  top: $top;
  left: $left;
  right: $right;
  width: $width;
  height: $height;
  padding: $padding;
  background: url($image-url) no-repeat $image-pos;
}

//----------------------------------------------

@mixin main-sprite($image-url:"/maildo-responsive-ui/responsive/images/sprite.png", $top:null, $left:null, $right:null, $width:null, $height:null, $padding:null, $image-pos:null){
  @include sprite("/maildo-responsive-ui/responsive/images/sprite.png", $top, $left, $right, $width, $height, $padding, $image-pos);
}
