.actions{
    width: 1140px;
    margin: 0 auto;
    padding-top: 100px;
    position: absolute;
    height: 38px;
    margin-bottom: 25px;
    margin-top: 120px;
    margin-left: -570px;
    left: 50%;
}

.actions .title{
    font-size: 33px;
    display: block;
    position: absolute;
    width: 100%;
    top: 16px;
    left: 0;
}

.actions .btn-compose{
    background-color: #737373;
    float: right;
    padding: 8px;
    font-size: 13px;
    color: white;
    border-radius: 5px;
}

.actions .chkbox-select{
    margin-right: 25px;
    -moz-appearance: none;
    -webkit-appearance: none;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    overflow: hidden;
    background-image: url("../images/sprite.png");
    background-size: 400px 400px;
    background-position: -26px -115px;
    cursor: pointer;
    -webkit-user-select: none;
    display: inline-block;
    position:relative;
    top:8px;
}

.actions .chkbox-select.checked{
    background-position: -26px -139px;
}

.actions .select-actions {
    display:none;
    font-size: 15px;

}

.actions .select-actions.show {
    display:inline-block;
}

.actions .select-actions .item{
    border: 1px solid #DAD6D6;
    display:inline-block;
    text-align: left;
    padding-top: 6px;
    padding-bottom: 6px;
    background-color: transparent;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    user-select: none;
}


.actions .select-actions .item .icon-text{
    padding-right:10px;
}

.actions .select-actions .btn-anchor{
    position:absolute;
    bottom:0;
    left:0px;
    width:0px;
    height:0px;
}

.actions .select-actions .btn-delete{

}

.actions .select-actions .btn-delete .icon-delete{
    display: inline-block;
    width: 27px;
    position: relative;
}

.actions .select-actions .btn-delete .icon-delete:after{
    content: "";
    position: absolute;
    top: -15px;
    left: 2px;
    width: 8px;
    height: 21px;
    background: url("../images/sprite.png") no-repeat 0px -200px;
    padding-right: 14px;
}

.actions .select-actions .btn-move{
    position:relative;
}

.actions .select-actions .btn-move .icon-move{
    display: inline-block;
    width: 27px;
    position: relative;
}

.actions .select-actions .btn-move .icon-move:after{
    content: "";
    position: absolute;
    top: -16px;
    left: 5px;
    width: 8px;
    height: 21px;
    background: url("../images/sprite.png") no-repeat -38px -200px;
    padding-right: 14px;
}

.actions .select-actions .btn-back{
    position:relative;
    float: right;
    display:none
}

.actions .select-actions .btn-back .icon-back{
    display: inline-block;
    width: 27px;
    position: relative;
}

.actions .select-actions .btn-back .icon-back:after{
    content: "";
    position: absolute;
    top: -16px;
    left: 5px;
    width: 8px;
    height: 21px;
    background: url("../images/sprite.png") no-repeat -26px -222px;
    padding-right: 14px;
}

.actions .select-actions .item-total{
    text-align: center;
    margin-right: 10px;
    line-height: 20px;
    background-color: #DED9D9;
    display: inline-block;
    padding:7px 7px 5px 7px;
}

#md.mail-viewer-mode .actions .select-actions .item-total {
    display:none;
}

#md.mail-viewer-mode .actions .select-actions  .btn-back {
    display: inline-block;
}

#md.mail-viewer-mode .actions .btn-compose {
    display:none;
}

#md.mail-viewer-mode .actions .chkbox-select{
    display:none;
}

#md.mail-viewer-mode .actions  .select-actions{
    display:block;
}


/*==============================================================*/


@media screen and (max-device-width: 800px), screen and (max-width: 800px) {

    .actions {
        position: absolute;
        width: 100%;
        padding-top: 22px;
        text-align: center;
        margin-bottom: 7px;
        margin-top: 48px;
        left: 0px;
        margin-left: 0px;
    }

    .actions .chkbox-select {
        top: 2px;
        left: 12px;
    }

    .actions .title {
        display: inline;
        position: static;
        width: inherit;
        top: inherit;
        left: inherit;
        font-size: 24px;
    }

    .actions .select-actions {
        position: fixed;
        bottom: 0px;
        left: 0px;
        width: 100%;
        z-index: 1;
        display: none;
        background-color: white;
        border-top: 1px solid #818181;
        padding-top: 8px;
    }

    .actions .select-actions.show {
        display: block;
    }

    .actions .select-actions  .btn-anchor {
        position: static;
    }

    .actions .select-actions .item {
        width: 37px;
        height: 30px;
        padding: 0;
        border: none;
    }

    .actions .select-actions .item .icon-text{
        display:none;
    }

    .actions .select-actions .item-total {
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .actions .btn-compose {
        background: transparent;
        border: none;
        -webkit-font-smoothing: antialiased;
        padding: 0;
        padding-top: 18px;
    }

    .actions .btn-compose .icon-compose {
        display: block;
        width: 27px;
        padding-right: 0;
        cursor: pointer;
        position:relative;
    }

    .actions .btn-compose .icon-compose:after{
        content: "";
        position: absolute;
        top: -15px;
        left: 0px;
        width: 41px;
        height: 26px;
        background: url("../images/sprite.png") no-repeat -68px -48px;
    }

    .actions .chkbox-select {
        float: left
    }

    .actions .dialog .move-to-folder-menu-wrapper {
        position:fixed;
    }

    .actions .dialog .move-to-folder-menu {
        width:100%;
        height:100%;
    }

    #md.mail-viewer-mode .actions .select-actions {
        top:0px;
        bottom:auto;
        display:block;
        background-color:black;
    }

    #md.mail-viewer-mode .actions .select-actions .btn-delete .icon-delete:after{
        top: -12px;
        background: url("../images/sprite.png") no-repeat -18px -200px;
    }

    #md.mail-viewer-mode .actions .select-actions .btn-move .icon-move:after{
        top: -12px;
        background: url("../images/sprite.png") no-repeat -58px -200px;
    }

    #md.mail-viewer-mode .actions .select-actions .btn-back .icon-back:after{
        top: -12px;
        background: url("../images/sprite.png") no-repeat -2px -222px;
    }
}

/*==============================================================*/

@media screen and (min-device-width: 801px) and (max-device-width: 1200px), screen and (min-width: 801px) and (max-width: 1200px){
    .actions{
        width:700px;
        margin-left: -350px;
    }
}