@import url(http://fonts.googleapis.com/css?family=Lato:400,700);

body{
    margin:0;
    font-family:"arial,sans-serif";
}

.md{
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: white;
    overflow: auto;
}

#md{
    .open-nav{
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -o-transition: all 1s ease;
        -ms-transition: all 1s ease;
        transition: all 1s ease;
        left: 0;
    }

    .close-nav {
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -o-transition: all 1s ease;
        -ms-transition: all 1s ease;
        transition: all 1s ease;
        left: -210px;
    }

}

/*==============================================================*/

@media screen and (max-device-width: 800px), screen and (max-width: 800px) {

    .md {
        overflow: hidden;
    }
}


