<div class="infobox">
    <div class="profile-panel">
        <div class="profile-image"></div>
        <div class="profile-titles">
            <div class="profile-main-title">Shaul Mazor</div>
            <div class="profile-sub-title">shaul.mazor@gmail.com</div>
        </div>
    </div>
    <div class="resources-link">Resources</div>
</div>