
    <div class="resources">
        <div class="togglebox">

            <input id="toggle1" type="radio" name="toggle" />
            <label for="toggle1">Client-side</label>
            <section id="content1">
                <p>Backbone</p>
                <p>Marionette</p>
                <p>Underscore</p>
                <p>Handlebars</p>
                <p>Sass\Compass</p>
                <p>ECMAScript 6</p>
            </section>

            <input id="toggle2" type="radio" name="toggle" />
            <label for="toggle2">Server-side</label>
            <section id="content2">
                <p>Node.js (Express 4.0)</p>
                <p>Passport.js</p>
                <p>MongoDB</p>
                <p>Mongoose</p>
                <p>Socket.io</p>
            </section>

            <input id="toggle3" type="radio" name="toggle" />
            <label for="toggle3">Testing tools</label>
            <section id="content3">
                <p>Mocha + Chai</p>
                <p>Sinon</p>
                <p>Blanket</p>
            </section>

            <input id="toggle4" type="radio" name="toggle" />
            <label for="toggle4">Building tools</label>
            <section id="content4">
                <p>Grunt</p>
                <p>Browserify</p>
                <p>Babel</p>
            </section>

        </div>
    </div>
