<div class="settings">
    <div class="panel lang-panel">
        <div class="title">Language</div>
        <div class="content">English</div>
    </div>
    <div class="split"></div>
    <div class="panel theme-panel">
        <div class="title">Theme</div>
        <div class="content">Dark</div>
    </div>
</div>