<div class="settings">
    <div class="settings-item lang">
        <div class="title">Language</div>
        <div class="value">English</div>
    </div>
    <div class="split"></div>
    <div class="settings-item theme">
        <div class="title">Theme</div>
        <div class="value">Dark</div>
    </div>
</div>