<div class="settings-options theme-options">
  <ul>
    <li>
      <label>
        <input type="radio" name="radioTheme" value="light" checked> <span></span> Light
      </label>
    </li>
    <li>
      <label>
        <input type="radio" name="radioTheme" value="dark"> <span></span> Dark
      </label>
    </li>
  </ul>
</div>


