<div class="settings-options">
  <ul>
    <li>
      <label>
        <input type="radio" name="radio" value="1" checked> <span></span> Dark
      </label>
    </li>
    <li>
      <label>
        <input type="radio" name="radio" value="2"> <span></span> Light
      </label>
    </li>
  </ul>
</div>


