$mainColor: #fff;
$mainBackground: #736F6F;
$menuMobileBackground:#616060;
$menuSelectedItemBackground:#A7A2A2;
$menuColor:#fff;
$toolbarBackground: #333131;
$mailColor:#fff;
$dialogBackground:#8A8585;
$dialogArrowBackground:#8A8585;
$dialogHeaderBackground:#464444;
$dialogModalBackground:#717171;
$settingsValueColor:#D3D4D4;
$selectActions:#696868;
$btnTotalItemsBackground:#656262;
$btnComposeBackground:#656262;
$participantsColor:#fff;
$menuItemColor:#fff;
$resourceListColor:#fff;
$btnFindBackground:#5A5C5F;

$btn-delete-image-pos:-18px -200px;
$btn-move-image-pos:-59px -200px;
$btn-back-image-pos:-4px -222px;
$btn-compose-image-pos:-41px -48px;


