$mainColor: #000;
$mainBackground: #fff;
$menuMobileBackground:#fff;
$menuSelectedItemBackground:#DEDEDE;
$menuColor:#000;
$toolbarBackground: #55688A;
$mailColor:#504F4F;
$dialogBackground:#fff;
$dialogArrowBackground:#fff;
$dialogHeaderBackground:gray;
$dialogModalBackground:gray;
$settingsValueColor:gray;
$selectActions:#fff;
$btnTotalItemsBackground:#DED9D9;
$btnComposeBackground:#737373;
$participantsColor:gray;
$menuItemColor:#000;
$resourceListColor:#555;
$btnFindBackground:#198FFF;

$btn-delete-image-pos:0 -200px;
$btn-move-image-pos:-38px -200px;
$btn-back-image-pos:-26px -222px;
$btn-compose-image-pos:-68px -48px;