$mainColor: #000;
$mainBackground: #fff;
$menuMobileBackground:#fff;
$menuSelectedItemBackground:#DEDEDE;
$menuColor:#000;
$toolbarBackground: #55688A;
$mailColor:#504F4F;
$dialogBackground:#fff;
$dialogArrowBackground:#fff;
$dialogHeaderBackground:gray;
$dialogModalBackground:gray;
$settingsValueColor:gray;
$selectActions:#fff;