.mail-list{
    width: 1140px;
    margin: 0 auto;
    position: absolute;
    top: 300px;
    bottom: 0px;
    overflow: auto;
    margin-left: -570px;
    left: 50%;
}

.mail-list .mail {
    display: table;
    table-layout: fixed;
    width: 100%;
    border-top:1px solid #C7C3C3;
    color:#504F4F;
}
.mail-list .mail .row {
    display: table-row;
    line-height: 60px;
}
.mail-list .mail .select-column{
    display: table-cell;
    width: 54px;
    text-align: left;
    position:relative;
}
.mail-list .mail .select-column .chkbox-select{

    position:absolute;
    top: 22px;
    left: 1px;
    -moz-appearance: none;
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    overflow: hidden;
    background-image: url("../images/sprite.png");
    background-size: 400px 400px;
    background-position: -54px -119px;
    cursor: pointer;
    -webkit-user-select: none;
}
.mail-list .mail .select-column .chkbox-select.checked{
    background-position: -54px -139px
}
.mail-list  .mail .content {
    display: table-cell;
    font-size: 16px;
}
.mail-list .mail .content .ellipsis{
    text-overflow: ellipsis;
    overflow: hidden;
    word-wrap: break-word;
    white-space: nowrap;
    line-height:24px;
}
.mail-list .mail .content .space{
    padding-bottom: 6px;
}
.mail-list .mail .content .bold{
    font-weight: bold;
}
.mail-list .mail .info{
    display: table-cell;
    width: 70px;
    text-align: right;
}
/*.mail-list .mail .info .time{*/
    /*margin-bottom: 13px;*/
/*}*/
.mail-list .mail .info .star{
    position:relative;
}
.mail-list .mail .info .star:after{
    content: "";
    position: absolute;
    top: 0px;
    right: 8px;
    width: 24px;
    height: 24px;
    background: url("../images/sprite.png") no-repeat -22px -169px;
}
.mail-list .mail .info .no-star{
    position:relative;
}
.mail-list .mail .info .no-star:after{
    content: "";
    position: absolute;
    top: 0px;
    right: 8px;
    width: 24px;
    height: 24px;
    background: url("../images/sprite.png") no-repeat 0px -169px;
}

/* ------ #md states --------*/

#md.mail-viewer-mode .mail-list{
    display: none;
}

/*==============================================================*/


@media screen and (max-device-width: 800px), screen and (max-width: 800px) {

    .mail-list {
        width: 100%;
        position: absolute;
        top: 120px;
        left: 0px;
        margin-left: 0px;
    }

    .mail-list .mail .row {
        line-height: 36px;
    }

    .mail-list .mail .select-column {
        width: 45px;
    }

    .mail-list .mail .select-column .chkbox-select {
        top: 31px;
        left: 12px;
        width: 15px;
        height: 15px;
        background-position: -6px -139px;
    }

    .mail-list .mail .select-column .chkbox-select.checked {
        background-position: -6px -124px;
    }

    .mail-list .mail .info {
        padding-right: 20px;
    }

    .mail-list .mail .content {
        font-size: 15px;
    }

    .mail-list .mail .content .ellipsis {
        line-height: 21px;
    }
}

/*==============================================================*/

@media screen and (min-device-width: 801px) and (max-device-width: 1200px), screen and (min-width: 801px) and (max-width: 1200px){
    .mail-list{
        width: 700px;
        margin-left: -350px;
    }
}

