.settings-options-wrapper{
    width:330px;
}

.settings-options{
    background-color:white;
}

.settings-options ul{
    margin: 0px;
    list-style-type: none;
    padding: 10px;
    padding-left: 20px;

}
.settings-options ul li{
    padding:10px 0 10px 0;
}

/*==============================================================*/

@media screen and (max-device-width: 800px), screen and (max-width: 800px) {

    .settings-options-wrapper{
        width:100%;
    }
}
