$mainColor: #fff;
$mainBackground: #736F6F;
$menuMobileBackground:#616060;
$menuSelectedItemBackground:#A7A2A2;
$menuColor:#fff;
$toolbarBackground: #333131;
$mailColor:#fff;
$dialogBackground:#8A8585;
$dialogArrowBackground:#8A8585;
$dialogHeaderBackground:#464444;
$dialogModalBackground:#717171;
$settingsValueColor:#D3D4D4;

